{% extends "AppFinal/padre.html" %}
    {% block Contenido %}
    <div class="d-flex" style="margin-bottom:5rem; justify-content: space-evenly;">

    </div>
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}